In [2]:
import pandas as pd 
data = pd.read_csv('Merged.csv')
data.head(2)

,Day,Month,Year,Day_Of_Week,day_index,Breakfast,Breakfast_Wastage,Lunch,Lunch_Wastage,Snacks,Snacks_Wastage,Dinner,Dinner_Wastage,Total_Daily_Comsumers,Total_Daily_Wastage,BFMenu,LunchMenu,SnkMenu,DinMenu
0,1,8,2023,Tue,1,241,12.91,522,18.30,291,4.99,456,12.29,1510,48.49,Dosa,"Poori, Dum Aloo, Beans Carrot Poriyal, Rice, V...",Banana Bajji,"Phulka, Meal Maker Curry, Fried Rice, Manchurian"
1,2,8,2023,Wed,2,428,18.03,623,21.02,319,4.56,674,17.37,2044,60.98,"Idly, Vada","Phulka, Panchratan dal, Onion Pakoda, Perugu P...",Dahi Vada,"Phulka, Palak Paneer, Veg Biryani"

In [3]:
type(data.iloc[0].BFMenu)

str

### Converting The Menu 
Current it is in the String format to List

In [4]:
def convert(obj):
    lst = obj.split(', ')
    Final = []
    for dish in lst:
        Final.append(dish.replace(' ',''))

    return " ".join(Final)

In [5]:
data['BFMenu'] = data['BFMenu'].apply(convert)
data['LunchMenu'] = data['LunchMenu'].apply(convert)
data['SnkMenu'] = data['SnkMenu'].apply(convert)
data['DinMenu'] = data['DinMenu'].apply(convert)

In [6]:
data.head(1)

,Day,Month,Year,Day_Of_Week,day_index,Breakfast,Breakfast_Wastage,Lunch,Lunch_Wastage,Snacks,Snacks_Wastage,Dinner,Dinner_Wastage,Total_Daily_Comsumers,Total_Daily_Wastage,BFMenu,LunchMenu,SnkMenu,DinMenu
0,1,8,2023,Tue,1,241,12.91,522,18.3,291,4.99,456,12.29,1510,48.49,Dosa,Poori DumAloo BeansCarrotPoriyal Rice Vathakol...,BananaBajji,Phulka MealMakerCurry FriedRice Manchurian

In [7]:
data.iloc[0].LunchMenu

'Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu'

In [8]:
data.LunchMenu.value_counts()

LunchMenu
Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu                        7
Phulka Panchratandal OnionPakoda PeruguPachadi Rice BrinjalMochaiGravy    7
Phulka RajmaDal AlooGobiMatarDry Rice Sambhar                             7
Phulka PumpkinKaalaChanna Rice BeetrootChanaPoriyal                       7
Phulka CornPeasMasala SproutedDal Rice                                    7
Phulka AlooGobiMatar PaneerBiryani                                        7
Phulka PeasMasala AlooMasalaWedges Rice Sambhar                           7
Phulka VegKurma BeetrootChannaPoriyal Rice Vathakolambu                   7
Phulka MixedDal BrinjalPoriyal MixVegKarakozhambu                         6
Poori PunjabiAlooMatar KovakaiFry Rice AndhraTomatoDal                    6
Phulka MixVegMatar LaukiChanadal Gobi65 Rice                              6
Phulka MixVegCurry ChilliSoyaBeanDry PeruguPachadi Rice Sambhar           6
Phulka PaneerButterMasala VegBiryani OnionRaitha                          6
Phulka DalMakhani BhindiFry Rice Sambhar                                  6
Name: count, dtype: int64

In [9]:
# Checking Different Meals in the menu

y =[]

x = [data.LunchMenu[x].split() for x in range(15)]
for i in x:
    for j in i:
        y.append(j)

x = [data.BFMenu[x].split() for x in range(15)]
for i in x:
    for j in i:
        y.append(j)

x = [data.SnkMenu[x].split() for x in range(15)]
for i in x:
    for j in i:
        y.append(j)
        
x = [data.DinMenu[x].split() for x in range(15)]
for i in x:
    for j in i:
        y.append(j)

y = set(y)
len(y)

87

In [10]:
len(data)

92

In [11]:
y

{'Aloo65',
 'AlooGobiMatar',
 'AlooGobiMatarDry',
 'AlooMasalaWedges',
 'AlooParatha',
 'AlooPeasDry',
 'AlooPodimas',
 'AlooSamosa',
 'AndhraTomatoDal',
 'BananaBajji',
 'BeansCarrotPoriyal',
 'BeetrootChanaPoriyal',
 'BeetrootChannaPoriyal',
 'BhindiFry',
 'BrinjalMochaiGravy',
 'BrinjalPoriyal',
 'ChannaChat',
 'ChannaMasala',
 'ChannaPeasPalak',
 'ChilliSoyaBeanDry',
 'CholeBhature',
 'ChowChowBath',
 'Chutney',
 'CornPeasMasala',
 'Curd',
 'DahiVada',
 'Dal',
 'DalMakhani',
 'Dosa',
 'DumAloo',
 'FriedRice',
 'Gobi65',
 'Idly',
 'KadaiPaneer',
 'Khichichadi',
 'KovakaiFry',
 'LachaParatha',
 'LaukiChanadal',
 'Maggi',
 'Manchurian',
 'MealMakerCurry',
 'MethiParatha',
 'MilletSnack',
 'MirchiBajji',
 'MixVegCurry',
 'MixVegKarakozhambu',
 'MixVegKurma',
 'MixVegMatar',
 'MixedDal',
 'MysoreBonda',
 'OnionMirchSalad',
 'OnionPakoda',
 'OnionRaitha',
 'PalakPaneer',
 'Pancake',
 'Panchratandal',
 'PaneerBiryani',
 'PaneerButterMasala',
 'PeasMasala',
 'PeruguPachadi',
 'Pesarattu',
 'Phulka',
 'Podi',
 'Poha',
 'Pongal',
 'Poori',
 'PotatoMasala',
 'PumpkinKaalaChanna',
 'PunjabiAlooMatar',
 'Raitha',
 'RajmaDal',
 'Rice',
 'Sambhar',
 'SemiyaUpma',
 'SnakeGourdKootu',
 'SpecialDinner',
 'SproutedDal',
 'SweetCorn',
 'ToorDal',
 'Upma',
 'Uthappam',
 'Vada',
 'Vathakolambu',
 'VegBiryani',
 'VegCurry',
 'VegKofta',
 'VegKurma'}