In [79]:
import pandas as pd 
data = pd.read_csv('Merged.csv')
data.head(2)

,Day,Month,Year,Day_Of_Week,day_index,Breakfast,Breakfast_Wastage,Lunch,Lunch_Wastage,Snacks,Snacks_Wastage,Dinner,Dinner_Wastage,Total_Daily_Comsumers,Total_Daily_Wastage,BFMenu,LunchMenu,SnkMenu,DinMenu
0,1,8,2023,Tue,1,241,19.36,522,31.11,291,13.47,456,24.58,1510,88.52,Dosa,"Poori, Dum Aloo, Beans Carrot Poriyal, Rice, V...",Banana Bajji,"Phulka, Meal Maker Curry, Fried Rice, Manchurian"
1,2,8,2023,Wed,2,428,27.05,623,35.73,319,12.31,674,34.74,2044,109.83,"Idly, Vada","Phulka, Panchratan dal, Onion Pakoda, Perugu P...",Dahi Vada,"Phulka, Palak Paneer, Veg Biryani"

In [80]:
type(data.iloc[0].BFMenu)

str

### Converting The Menu 
Current it is in the String format to List

In [83]:
def convert(obj):
    lst = obj.split(', ')
    Final = []
    for dish in lst:
        Final.append(dish.replace(' ',''))

    return " ".join(Final)

In [84]:
data['BFMenu'] = data['BFMenu'].apply(convert)
data['LunchMenu'] = data['LunchMenu'].apply(convert)
data['SnkMenu'] = data['SnkMenu'].apply(convert)
data['DinMenu'] = data['DinMenu'].apply(convert)

In [85]:
data.head(1)

,Day,Month,Year,Day_Of_Week,day_index,Breakfast,Breakfast_Wastage,Lunch,Lunch_Wastage,Snacks,Snacks_Wastage,Dinner,Dinner_Wastage,Total_Daily_Comsumers,Total_Daily_Wastage,BFMenu,LunchMenu,SnkMenu,DinMenu
0,1,8,2023,Tue,1,241,19.36,522,31.11,291,13.47,456,24.58,1510,88.52,Dosa,Poori DumAloo BeansCarrotPoriyal Rice Vathakol...,BananaBajji,Phulka MealMakerCurry FriedRice Manchurian

In [86]:
data.iloc[0].LunchMenu

'Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu Rasam Curd'

In [87]:
data.LunchMenu.value_counts()

LunchMenu
Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu Rasam Curd                   7
Phulka Panchratandal OnionPakoda PeruguPachadi Rice BrinjalMochaiGravy Rasam    7
Phulka RajmaDal AlooGobiMatarDry Rice Rasam Sambhar                             7
Phulka PumpkinKaalaChanna Rice BeetrootChanaPoriyal Rasam Curd                  7
Phulka CornPeasMasala SproutedDal Rice Rasam Curd                               7
Phulka AlooGobiMatar PaneerBiryani                                              7
Phulka PeasMasala AlooMasalaWedges Rice Sambhar Rasam Curd                      7
Phulka VegKurma BeetrootChannaPoriyal Rice Vathakolambu Rasam Curd              7
Phulka MixedDal BrinjalPoriyal MixVegKarakozhambu Rasam Curd                    6
Poori PunjabiAlooMatar KovakaiFry Rice AndhraTomatoDal Rasam Curd               6
Phulka MixVegMatar LaukiChanadal Gobi65 Rice Rasam                              6
Phulka MixVegCurry ChilliSoyaBeanDry PeruguPachadi Rice Sambhar Rasam Curd      6
Phulka PaneerButterMasala VegBiryani OnionRaitha                                6
Phulka DalMakhani BhindiFry Rice Sambhar Rasam Curd                             6
Name: count, dtype: int64

## Model

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [89]:
vectors = cv.fit_transform(data['BFMenu']).toarray()
vectors.shape

(92, 18)

In [90]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)