In [1]:
import pandas as pd 
data = pd.read_csv('Long_form.csv')
data.head(2)

    Menu_Item  Westage  Count
0        Dosa    12.91    241
1  Idly, Vada    18.03    428

In [2]:
print(data.iloc[1,0])
type(data.iloc[1,0])

Idly, Vada

str

In [4]:
def convert(obj):
    lst = obj.split(', ')
    Final = []
    for dish in lst:
        Final.append(dish.replace(' ',''))

    return " ".join(Final)

In [5]:
data['Menu_Item'] = data['Menu_Item'].apply(convert)
data.sample(20)

                                             Menu_Item  Westage  Count
162  Poori DumAloo BeansCarrotPoriyal Rice Vathakol...    25.21    719
88                     AlooParatha ChannaMasala Raitha    16.73    369
78                                        Dosa Sambhar    13.70    296
87                         SemiyaUpma Poha MysoreBonda    17.33    386
232                                        OnionPakoda     4.33    363
13                                  Pongal MysoreBonda    18.64    455
96              Phulka CornPeasMasala SproutedDal Rice    14.73    427
168    Phulka PeasMasala AlooMasalaWedges Rice Sambhar    26.52    761
98     Phulka PeasMasala AlooMasalaWedges Rice Sambhar    17.49    502
127  Phulka VegKurma BeetrootChannaPoriyal Rice Vat...    23.94    664
46                     AlooParatha ChannaMasala Raitha    18.19    401
192                                          SweetCorn     6.08    421
91                                  Poori PotatoMasala    18.09    413
360         Phulka MealMakerCurry FriedRice Manchurian    10.24    380
264                                         ChannaChat     5.20    379
177  Phulka Panchratandal OnionPakoda PeruguPachadi...    21.93    650
45                         SemiyaUpma Poha MysoreBonda    13.56    302
355             Dosa Chutney Rice MixedDal AlooPeasDry    17.62    712
21                                  Poori PotatoMasala    17.47    399
113  Phulka VegKurma BeetrootChannaPoriyal Rice Vat...    18.13    503

In [7]:
data.head(2)

   Menu_Item  Westage  Count
0       Dosa    12.91    241
1  Idly Vada    18.03    428

In [8]:
type(data.iloc[1,0])

str

In [11]:
data.iloc[1].Menu_Item

'Idly Vada'

In [12]:
data.Menu_Item.value_counts()

Menu_Item
Dosa                                                                      13
SweetCorn                                                                 13
OnionPakoda                                                               13
Idly Vada                                                                 13
DahiVada                                                                  13
AlooSamosa                                                                12
Phulka ToorDal VegKurma Rice                                               7
Idly Podi Chutney Rice Sambhar                                             7
Phulka PaneerButterMasala Rice Sambhar                                     7
BananaBajji                                                                7
Maggi                                                                      7
Dosa Rice Sambhar AlooPodimas                                              7
MilletSnack                                                                7
Pancake                                                                    7
MirchiBajji                                                                7
LachaParatha VegKofta Rice                                                 7
Phulka MealMakerCurry FriedRice Manchurian                                 7
Phulka KadaiPaneer VegBiryani Rice                                         7
Phulka VegKurma BeetrootChannaPoriyal Rice Vathakolambu                    7
Phulka PeasMasala AlooMasalaWedges Rice Sambhar                            7
Poori PotatoMasala                                                         7
Poori ChannaMasala                                                         7
SemiyaUpma Poha MysoreBonda                                                7
AlooParatha ChannaMasala Raitha                                            7
Uthappam                                                                   7
Pesarattu Upma                                                             7
Phulka PalakPaneer VegBiryani                                              7
Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu                         7
Phulka Panchratandal OnionPakoda PeruguPachadi Rice BrinjalMochaiGravy     7
Phulka RajmaDal AlooGobiMatarDry Rice Sambhar                              7
Phulka PumpkinKaalaChanna Rice BeetrootChanaPoriyal                        7
Phulka CornPeasMasala SproutedDal Rice                                     7
Phulka AlooGobiMatar PaneerBiryani                                         7
Dosa Chutney Rice MixedDal AlooPeasDry                                     6
SpecialDinner                                                              6
Phulka ChannaPeasPalak Khichichadi Curd Rice Aloo65                        6
Phulka VegCurry Rice Dal                                                   6
Phulka MixVegKurma FriedRice Manchurian                                    6
Phulka DalMakhani BhindiFry Rice Sambhar                                   6
ChannaChat                                                                 6
Phulka PaneerButterMasala VegBiryani OnionRaitha                           6
Phulka MixVegCurry ChilliSoyaBeanDry PeruguPachadi Rice Sambhar            6
Phulka MixVegMatar LaukiChanadal Gobi65 Rice                               6
Poori PunjabiAlooMatar KovakaiFry Rice AndhraTomatoDal                     6
Phulka MixedDal BrinjalPoriyal MixVegKarakozhambu                          6
Pongal MysoreBonda                                                         6
MethiParatha ChannaMasala                                                  6
ChowChowBath MysoreBonda                                                   6
Dosa Sambhar                                                               6
CholeBhature OnionMirchSalad Rice SnakeGourdKootu                          6
Name: count, dtype: int64

## Model

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [15]:
vectors = cv.fit_transform(data['Menu_Item']).toarray()
vectors.shape

(368, 87)

In [16]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [17]:
vectors[0].shape

(87,)