In [46]:
import numpy as np
import pandas as pd 
data = pd.read_csv('Long_form.csv')
data.head(2)

    Menu_Item  Westage  Count
0        Dosa    12.91    241
1  Idly, Vada    18.03    428

In [47]:
print(data.iloc[1,0])
type(data.iloc[1,0])

Idly, Vada

str

In [48]:
def convert(obj):
    lst = obj.split(', ')
    Final = []
    for dish in lst:
        Final.append(dish.replace(' ',''))

    return " ".join(Final)

In [49]:
data['Menu_Item'] = data['Menu_Item'].apply(convert)
data.sample(20)

                                             Menu_Item  Westage  Count
153                 Phulka AlooGobiMatar PaneerBiryani    20.95    571
348                      Dosa Rice Sambhar AlooPodimas    15.82    609
84                                                Dosa    14.03    262
46                     AlooParatha ChannaMasala Raitha    18.19    401
264                                         ChannaChat     5.20    379
95   Phulka PumpkinKaalaChanna Rice BeetrootChanaPo...    21.38    585
337                     Idly Podi Chutney Rice Sambhar    19.55    821
221                                         AlooSamosa     7.55    578
276         Phulka MealMakerCurry FriedRice Manchurian    12.29    456
326                                      SpecialDinner    17.72    815
171  Poori PunjabiAlooMatar KovakaiFry Rice AndhraT...    19.79    572
342            Phulka MixVegKurma FriedRice Manchurian    13.08    488
126    Phulka PeasMasala AlooMasalaWedges Rice Sambhar    23.32    669
13                                  Pongal MysoreBonda    18.64    455
70                                                Dosa    11.99    224
262                                          SweetCorn     5.27    365
265                                           DahiVada     4.91    344
256                                          SweetCorn     8.91    617
350             Phulka PaneerButterMasala Rice Sambhar    16.67    680
63                                  Poori PotatoMasala    12.17    278

In [50]:
data.head(2)

   Menu_Item  Westage  Count
0       Dosa    12.91    241
1  Idly Vada    18.03    428

In [51]:
type(data.iloc[1,0])

str

In [52]:
data.iloc[1].Menu_Item

'Idly Vada'

In [53]:
data.Menu_Item.value_counts()

Menu_Item
Dosa                                                                      13
SweetCorn                                                                 13
OnionPakoda                                                               13
Idly Vada                                                                 13
DahiVada                                                                  13
AlooSamosa                                                                12
Phulka ToorDal VegKurma Rice                                               7
Idly Podi Chutney Rice Sambhar                                             7
Phulka PaneerButterMasala Rice Sambhar                                     7
BananaBajji                                                                7
Maggi                                                                      7
Dosa Rice Sambhar AlooPodimas                                              7
MilletSnack                                                                7
Pancake                                                                    7
MirchiBajji                                                                7
LachaParatha VegKofta Rice                                                 7
Phulka MealMakerCurry FriedRice Manchurian                                 7
Phulka KadaiPaneer VegBiryani Rice                                         7
Phulka VegKurma BeetrootChannaPoriyal Rice Vathakolambu                    7
Phulka PeasMasala AlooMasalaWedges Rice Sambhar                            7
Poori PotatoMasala                                                         7
Poori ChannaMasala                                                         7
SemiyaUpma Poha MysoreBonda                                                7
AlooParatha ChannaMasala Raitha                                            7
Uthappam                                                                   7
Pesarattu Upma                                                             7
Phulka PalakPaneer VegBiryani                                              7
Poori DumAloo BeansCarrotPoriyal Rice Vathakolambu                         7
Phulka Panchratandal OnionPakoda PeruguPachadi Rice BrinjalMochaiGravy     7
Phulka RajmaDal AlooGobiMatarDry Rice Sambhar                              7
Phulka PumpkinKaalaChanna Rice BeetrootChanaPoriyal                        7
Phulka CornPeasMasala SproutedDal Rice                                     7
Phulka AlooGobiMatar PaneerBiryani                                         7
Dosa Chutney Rice MixedDal AlooPeasDry                                     6
SpecialDinner                                                              6
Phulka ChannaPeasPalak Khichichadi Curd Rice Aloo65                        6
Phulka VegCurry Rice Dal                                                   6
Phulka MixVegKurma FriedRice Manchurian                                    6
Phulka DalMakhani BhindiFry Rice Sambhar                                   6
ChannaChat                                                                 6
Phulka PaneerButterMasala VegBiryani OnionRaitha                           6
Phulka MixVegCurry ChilliSoyaBeanDry PeruguPachadi Rice Sambhar            6
Phulka MixVegMatar LaukiChanadal Gobi65 Rice                               6
Poori PunjabiAlooMatar KovakaiFry Rice AndhraTomatoDal                     6
Phulka MixedDal BrinjalPoriyal MixVegKarakozhambu                          6
Pongal MysoreBonda                                                         6
MethiParatha ChannaMasala                                                  6
ChowChowBath MysoreBonda                                                   6
Dosa Sambhar                                                               6
CholeBhature OnionMirchSalad Rice SnakeGourdKootu                          6
Name: count, dtype: int64

## Model

In [54]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [55]:
vectors = cv.fit_transform(data['Menu_Item']).toarray()
vectors.shape

(368, 87)

In [56]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [57]:
vectors[0].shape

(87,)

## Splitting Training and Testing For Westage

In [58]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(vectors, data['Westage'], test_size=.1, random_state=len(data))

In [59]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(331, 87)
(37, 87)
(331,)
(37,)

## Selecting Different Models

### Linear Regression

In [60]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [73]:
model.fit(x_train, y_train)

LinearRegression()

In [83]:
y_train_pre = model.predict(x_train)
y_pre = model.predict(x_test)

# Evaluation

In [82]:
from sklearn.metrics import mean_squared_error, r2_score

#### Training Set

In [78]:
RMSE = mean_squared_error(y_train, y_train_pre)
R2 = r2_score(y_train, y_train_pre)
Accuracy = model.score(x_train, y_train)


print(RMSE)
print(R2)
print(Accuracy)

5.387168726471041
0.8521001524562922
0.8521001524562922

#### Testing Set

In [84]:
RMSE = mean_squared_error(y_test, y_pre)
R2 = r2_score(y_test, y_pre)
Accuracy = model.score(x_test, y_test)


print(RMSE)
print(R2)
print(Accuracy)

6.165576225981842
0.8836469254627417
0.8836469254627417

# Results

The Results and accuracy scores of the models as summary

### Wastage

| Model | Train/Test | RMSE | R2 Score| Accuracy Score| 
|-------|------------|------|---------|---------------|