#### Q1 - Swapping 2 numbers

In [6]:
# Without using temp
x = int(input("Enter the first number"))
y = int(input("Enter the second number"))

x,y = y,x

print(x,y)

In [7]:
# Using temp var
x = int(input("Enter the first number"))
y = int(input("Enter the second number"))

temp =x
x=y
y= temp

print(x,y)

#### Q2 - Length of the string

In [8]:
str = input("Enter any string ")
print(len(str))

12

#### Q3 - Area of circle

In [20]:
r = eval(input("Enter the Radius"))
area = 3.14*(r**2)
area

5.471136

#### Q4 - 3 Variables

In [10]:
x=y= z = int(input("Enter the Value"))

print("Value of x is ",x)
print("Value of y is ",y)
print("Value of z is ",z)

Value of x is  100
Value of y is  100
Value of z is  100

#### Q5- List input

In [11]:
lst = input("Enter the list seprated by commas")
lst = lst.split(',')

lst = [int(x) for x in lst]

lst

[1, 5, 6, 2, 55]

#### Q6 - Reverse name

In [12]:
fn = input("Enter the first name")
ln = input("Enter the last name")

fn = fn[::-1]
ln = ln[::-1]

print("The Reverse of the first name is ", fn)
print("The Reverse of the last name is ", ln)

The Reverse of the first name is  hsuyA
The Reverse of the last name is  lawargA

#### Q7 - Age, Name

In [13]:
name = input("Enter your name")
age = int(input("Enter your age"))
address = input("Enter your address")

print("Name :", name)
print("age :", age)
print("address :", address)

Name : Ayush
age : 21
address : Chennia

#### Q8 - Sum of digits

In [14]:
num = n = int(input("Enter the 4 digit number"))
sum  = 0
while n:
    t = n%10
    n//=10
    sum+=t

print(f"The sum of digits of {num} is {sum}")

The sum of digits of 1234 is 10

#### Q4 - Substring Counter

In [15]:
Str = """Emma is a good developer. Emma is a good writer"""
ctr =0
for n in Str.split(" "):
    if "Emma" in n:
        ctr+=1

print("Total numbers of time Emma Preset in string is ", ctr)

Total numbers of time Emma Preset in string is  2

#### Q10 - String

In [16]:
a = "this is a string"

a

'this is a string'

#### Q11 - Mathemetical Operations

In [17]:
x = 10 
y= 20

# Modulus
print("x%y = ", x%y)

# Multiplication
print("x*y = ", x*y)

# Float division
print("x/y = ", x/y)

# Floor division
print("x//y = ", x//y)

x%y =  10
x*y =  200
x/y =  0.5
x//y =  0

#### Q12 - First Name, Last Name

In [18]:
tab = {'fname' : [],
       'lname' : [],
       'age' : []}

tab['fname'].extend(["Sam", 'Roger', 'Sachin', 'Virat', 'Ayush'])
tab['lname'].extend(["Maccoy", 'Federer', 'Tendulkar', 'Kohli', 'Agrawal'])
tab['fname'].extend([44,45,55,35,21])

print(tab)

{'fname': ['Sam', 'Roger', 'Sachin', 'Virat', 'Ayush', 44, 45, 55, 35, 21], 'lname': ['Maccoy', 'Federer', 'Tendulkar', 'Kohli', 'Agrawal'], 'age': []}

#### Q13 - Split and Join

In [22]:
t1 = "I am awesome"
t1 = t1.split(" ")
t1.append("I")
t1.append("am")
t1.append("best")

t1 = "-".join(t1)

t2 = "This is cool"
t2 = t2.split(" ")
t2.append("I")
t2.append("Love")
t2.append("Python")

t2 = "$".join(t2)

t3 = "I am loving it"
t3 = t3.split(" ")
t3.append("Data")
t3.append("Sicience")
t3.append("is")
t3.append("love")
t3 = "_".join(t3)

print(t1)
print(t2)
print(t3)

#### Q14 - Vol of Cyl

In [21]:
r= 10
h=10
vol = 3.14*(r**2)*h

print("The volume of cyl is ",vol)

The volume of cyl is  3140.0